@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialMT.woff");
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff2");
}
.nav__link:hover, .nav__link:after, .nav__link.active, .nav__link, .our-friends-pets__navigation, .button:hover, .cards:hover > button {
  transition: all 0.5s ease-out;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

h1 {
  font-size: 4.4rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0;
  color: #FFFFFF;
}

h2 {
  font-size: 3.5rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

h3 {
  font-size: 2rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

p {
  font-size: 1.5rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
  color: #4C4C4C;
}

img {
  overflow: hidden;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border-radius: 9px;
  user-select: none;
  cursor: pointer;
}
.cards.pets {
  margin-bottom: 30px;
}
.cards:hover > button {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.pets-card-title {
  padding: 30px 0;
}

.button {
  font-size: 1.7rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  height: 5.2rem;
  width: 20.7rem;
  background: #F1CDB3;
  color: #292929;
  cursor: pointer;
  border-radius: 10rem;
  border: none;
  user-select: none;
  transition: all 0.5s;
}
.button:hover {
  background: #FDDCC4;
}

.button__carousel {
  width: 18.7rem;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
}

.button__our-friends {
  width: 26.1rem;
}

.carousel__prev-ico,
.carousel__next-ico {
  opacity: 0.8;
}

.logo__title {
  font-size: 3.2rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding: 7px 0;
}
.logo__title.pets {
  color: #545454;
}

.logo__subtitle {
  font-size: 1.3rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding-left: 4px;
}
.logo__subtitle.pets {
  color: #292929;
}

.logo {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}

.our-friends {
  background-color: #F6F6F6;
}

.our-friends__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 39px 100px;
}
.our-friends__wrapper.pets {
  padding: 82px 39px 101px;
}

.our-friends__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pets__galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 58px 0 30px;
}

.our-friends_nav {
  display: flex;
}

.our-friends-pets__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23px;
  width: 28px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  margin: auto;
  padding: 12px 10px;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
  color: #292929;
}
.our-friends-pets__navigation:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}
.our-friends-pets__navigation.active {
  background-color: #F1CDB3;
  border: 2px solid #F1CDB3;
}
.our-friends-pets__navigation.passive {
  cursor: auto;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}
.our-friends-pets__navigation.passive:hover {
  background-color: #F6F6F6;
}

.pets__header {
  font-size: 3.5rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.navigation__list {
  display: flex;
  padding: 0;
}

.navigation__link {
  padding-right: 36px;
  list-style-type: none;
}

.navigation__link:last-child {
  padding-right: 0;
}

.nav__link {
  font-size: 1.5rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
  color: #CDCDCD;
  text-decoration: none;
  position: relative;
}
.nav__link.pets {
  color: #545454;
}
.nav__link.active {
  color: #FAFAFA;
}
.nav__link.active.pets {
  color: #292929;
}
.nav__link.active:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #F1CDB3;
  bottom: -7px;
}
.nav__link:after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background: #F1CDB3;
  bottom: -7px;
  right: 0;
  left: 0;
}
.nav__link:hover {
  color: #FAFAFA;
}
.nav__link:hover.pets {
  color: #292929;
}
.nav__link:hover:after {
  width: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;
}

.header.pets {
  background: #FFFFFF;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px 86px;
}
.header__wrapper.pets {
  padding: 24px 40px 26px;
}

.footer {
  background: url("../../assets/image/background/footer-gradient-background.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  background-size: cover;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0;
}

.footer__address {
  padding-right: 6px;
}

.footer__contacts > h2,
.footer__address > h2 {
  color: #FFFFFF;
}

.footer__contacts,
.footer__address {
  padding-top: 16px;
}

address > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

address > a > img {
  padding-right: 20px;
}

address > a > p {
  font-size: 2rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.mail__ico {
  min-width: 0;
  height: 26px;
  width: 40px;
}

.phone__ico {
  min-width: 0;
  height: 32px;
  width: 40px;
}

.geo__ico {
  min-width: 0;
  height: 32px;
  width: 22px;
}

.footer__mail {
  padding: 42px 0;
}

.footer__geo {
  padding: 32px 0;
}

/*# sourceMappingURL=style.css.map */
