.donation {
	background-color: $color-light-l;
}

.donation__wrapper {
	display: flex;
	padding: 80px 183px 100px;
	@include media-tablet {
		flex-direction: column-reverse;
		align-items: center;
		padding: 80px 132px 100px;
	}
	@include media-mobile {
		text-align: center;
		padding: 42px 10px 40px;
	}
}

.donation__content {
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	width: 42%;
	@include media-tablet {
		width: 75.5%;
		padding-bottom: 60px;
		padding-top: 1px;
		padding-left: 0;
	}
	@include media-mobile {
		align-items: center;
		width: 100%;
		padding-bottom: 41px;
	}
}

.donation__credit-card {
	display: flex;
	align-items: center;
	background-color: $color-primary;
	margin: 20px 0;
	border-radius: 9px;
	width: 349px;
	height: 43px;
	@include media-mobile {
		width: 281px;
	}
}

.credit-card__ico {
	display: flex;
	min-width: auto;
	width: 36px;
	height: 23px;
	padding: 0 14px;
}

.form__credit-card {
	width: 100%;
}

#credit-card-input {
	display: flex;
	background-color: $color-primary;
	width: 95%;
	height: 23px;
	border: none;
	@include font($family: 'Georgia', $size: 2rem, $height: 115%, $letter: 0.06em);
	color: $color-dark-l;
	@include media-mobile {
		font-size: 1.5rem;
		line-height: 110%;
	}
}

.text__type-of-bank {
	@include font($family: 'Georgia', $size: 1.5rem, $height: 110%, $letter: 0.06em);
	color: $color-dark-m;
	padding-top: 20px;
	@include media-mobile {
		line-height: 160%;
		letter-spacing: 0;
		padding-top: 19px;
	}
}

.donation__text {
	@include font($size: 1.2rem, $height: 150%, $style: italic);
	color: $color-dark-m;
	@include media-mobile {
		text-align: justify;
		padding: 0 10px;
	}
}

.donation__img {
	display: flex;
	align-items: center;
	width: 56%;
	@include media-tablet {
		width: 100%;
	}
	@include media-mobile {
		width: 88%;
	}
}