.help__wrapper {
	display: flex;
	flex-direction: column;
	padding: 80px 50px 42px;
	@include media-tablet {
		align-items: center;
		padding: 78px 0 39px;
	}
	@include media-mobile {
		padding: 42px 0 42px;
	}
}

.help__header {
	text-align: center;
}

.help__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	white-space: nowrap;
	column-gap: 120px;
	row-gap: 55px;
	padding: 58px 50px 58px;
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 113px;
	}
	@include media-tablet {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(3, 175px);
		grid-template-rows: repeat(3, 113px);
		column-gap: 55px;
		padding: 59px 0 60px;
	}
	@include media-mobile {
		grid-template-columns: repeat(2, 130px);
		grid-template-rows: repeat(5, 87px);
		column-gap: 30px;
		row-gap: 30px;
		padding: 42px 0 0;
		div {
			height: 88px;
		}
		div img {
			height: 50px;
		}
	}
}