.navigation {
	display: flex;
}

.navigation__container {
	background-color: rgba(#000000, .0);
	@extend %transition;
	&.active {
		height: 100%;
		width: 100%;
		background-color: rgba(#000000, .5);
		left: 0;
		top: 0;
		position: absolute;
		@extend %transition;
	}
	.navigation__list {
		display: flex;
		padding: 0;
		@include hamburger-width {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: fixed;
			top: 0;
			right: -100%;
			height: 100vh;
			width: 320px;
			background-color: $color-dark-3xl;
			&.pets {
				background-color: $color-light-s;
			}
			transition: all .5s;
			overflow: auto;
			&.active {
				display: flex;
				right: 0;
				position: absolute;
			}
		}
	}
}

.navigation__link {
	padding-right: 36px;
	list-style-type: none;
	@include hamburger-width {
		padding: 20px 0;
	}
}
.navigation__link:last-child {
	padding-right: 0;
}

.nav__link {
	@include font($size: 1.5rem, $height: 160%,);
	@include hamburger-width {
		@include font ($size: 3.2rem, $height: 160%)
	}
	color: $color-dark-s;
	&.pets {
		color: $color-dark-l;
	}
	text-decoration: none;
	position: relative;
	@extend %transition-color;
	&.active {
		color: $color-light-s;
		&.pets {
			color: $color-dark-3xl;
		}
		@extend %transition-color;
		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 3px;
			background: $color-primary;
			bottom: -7px;
			right: 0;
			left: 0;
			@include hamburger-width {
				bottom: -10px;
			}
		} 
	}
  &:hover {
		color: $color-light-s;
		&.pets {
			color: $color-dark-3xl;
		}
		@extend %transition-color;
  }
}