.not-only {
	background: url('../../assets/image/background/start-screen-gradient-background.png'),
	radial-gradient(100% 215.42% at 0% 0%, #5B483A 100%, #262425 100%), #211F20;;
  background-size: cover;
	margin-top: -180px;
	padding-top: 180px;
	// &.pets {
	// 	background: $color-light
	// }
}

.not-only__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
}

.not-only__content {
	display: flex;
	flex-direction: column;
	padding-top: 164px;
	max-width: 39%;
}

.not-only__img {
	display: flex;
	max-width: 60%;
}

.not-only__text {
	color: $color-dark-s;
	padding: 41px 0;
}