.back_img {
	background: url('../../assets/image/main/start-screen-gradient-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.not-only__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
}

.not-only__content {
	display: flex;
	flex-direction: column;
	padding-top: 164px;
	max-width: 39%;
}

.not-only__img {
	display: flex;
	max-width: 60%;
}

.not-only__text {
	color: $color-dark-s;
	padding: 41px 0;
}