.not-only__wrapper {
	display: flex;
	justify-content: space-between;
}

.not-only__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 36%;
}

.not-only__img {
	display: flex;
	max-width: 60%;
}

.start__img {
	overflow: hidden;
}

.not-only__text {
	@include font($size: 1.5rem, $height: 160%);
	color: $color-dark-s;
	padding: 42px 0;
}