.our-friends {
	background-color: $color-light-l;
}

.our-friends__wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 80px 39px 100px;
	@include media-tablet {
		padding: 82px 30px 100px;
	}
	@include media-mobile {
		padding: 40px 10px;
	}
	&.pets {
		padding: 82px 39px 101px;
		@include media-tablet {
			padding: 82px 94px 77px;
		}
		@include media-mobile {
			padding: 42px 10px;
		}
	}
}

.our-friends__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.pets__gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, 270px);
	grid-template-rows: 435px 435px;
	width: 100%;
	height: 930px;
	row-gap: 30px;
	justify-content: space-between;
	margin: 58px 0 30px;
	overflow: hidden;
	@include media-tablet {
		grid-template-columns: repeat(2, 270px);
		grid-template-rows: 435px 435px 435px;
		justify-content: space-around;
		height: 1395px;
		margin: 28px 0 10px;
	}
	@media (max-width: 850px) {
		justify-content: space-between;
	}
	@media (max-width: 750px) {
		grid-template-columns: repeat(1, 270px);
		justify-content: center;
		margin: 40px 0 14px;
	}
}

.our-friends_nav {
	display: flex;
}

.our-friends-pets__navigation {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 23px;
	width: 28px;
	border: 2px solid $color-primary;
	border-radius: 100px;
	margin: auto;
	padding: 12px 10px;
	margin: 0 10px;
	cursor: pointer;
	user-select: none;
	color: $color-dark-3xl;
	@extend %transition;
	&:hover {
		background-color: $color-primary-light;
		border: 2px solid $color-primary-light;
	}
	&.active {
		background-color: $color-primary;
		border: 2px solid $color-primary;
	}
	&.passive {
		&:hover {
			background-color: $color-light-l;
		}
		cursor: auto;
		color: $color-dark-s;
		border: 2px solid $color-dark-s;
	}
	@include media-mobile {
		margin: 0 5px;
	}
}

.pets__header {
	@include font($family: 'Georgia', $size: 3.5rem, $height: 130%, $letter: 0.06em);
	color: $color-dark-l;
}
