@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/ArialMT.woff");
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia.woff2");
}
.nav__link:hover, .nav__link:after, .nav__link.active, .nav__link, .button:hover {
  transition: all 0.5s ease-out;
}

html,
body {
  font-size: 10px;
  scroll-behavior: smooth;
  background: url("../../assets/image/main/start-screen-gradient-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
}

h1 {
  font-size: 4.4rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0;
  color: #FFFFFF;
}

.logo__title {
  font-size: 3.2rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06rem;
  color: #F1CDB3;
}

.logo__subtitle {
  font-size: 1.3rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
}

.button {
  font-size: 1.7rem;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06rem;
  height: 5.2rem;
  width: 20.7rem;
  background: #F1CDB3;
  color: #292929;
  cursor: pointer;
  border-radius: 10rem;
  border: none;
  transition: all 0.5s;
}
.button:hover {
  background: #FDDCC4;
}

.navigation__list {
  display: flex;
  padding: 0;
}

.navigation__link {
  padding: 0 17.5px;
  list-style-type: none;
}

.nav__link {
  font-size: 1.5rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.06rem;
  color: #CDCDCD;
  text-decoration: none;
  position: relative;
}
.nav__link.active {
  color: #FAFAFA;
}
.nav__link.active:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  background: #F1CDB3;
  bottom: -7px;
}
.nav__link:after {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background: #F1CDB3;
  bottom: -7px;
  right: 0;
  left: 0;
}
.nav__link:hover {
  color: #FAFAFA;
}
.nav__link:hover:after {
  width: 100%;
}

.not-only__wrapper {
  display: flex;
  justify-content: space-between;
}

.not-only__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 36%;
}

.not-only__img {
  display: flex;
  max-width: 60%;
}

.start__img {
  overflow: hidden;
}

.not-only__text {
  font-size: 1.5rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
  color: #CDCDCD;
  padding: 42px 0;
}

.about {
  background: #FFFFFF;
}

.about__wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 0 100px 0;
}

.about__img {
  display: flex;
  max-width: 36%;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  padding: 80px, 0, 100px, 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding-right: 40px;
  padding-left: 40px;
}

/*# sourceMappingURL=style.css.map */
