html {
	font-size: 10px;
	scroll-behavior: smooth;
	background: url('../../assets/image/main/start-screen-gradient-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

* {
	margin: 0;
}

.header,
.not-only {
	// background: url('../../assets/image/main/start-screen-gradient-background.png');
  // background-repeat: no-repeat;
  // background-size: cover;
}

h1 {
	font-family: 'Georgia';
	font-weight: 400;
	font-size: 4.4rem;
	line-height: 130%;
	color: $color-light;
}