.button {
	@include font($family: 'Georgia', $size: 1.7rem, $height: 130%, $letter: 0.06em);
	height: 5.2rem;
	width: 20.7rem;
	background: $color-primary;
	color: $color-dark-3xl;
	cursor: pointer;
	border-radius: 10rem;
	border: none;
	user-select: none;
	transition: all 0.5s;
	// &:hover {
	// 	background: $color-primary-light;
	// 	@extend %transition;
	// }

}

.button__carousel {
	width: 18.7rem;
	background-color: $color-light-s;
	border: 2px solid $color-primary;
}

.button__our-friends {
	width: 26.1rem;
}

.carousel__prev-ico,
.carousel__next-ico {
	opacity: 0.8;
}