.carousel {
	display: flex;
	// overflow: hidden;
	width: 100%;
	height: 435px;
	padding: 60px 0;
	@include media-mobile {
		flex-wrap: wrap;
		justify-content: center;
		height: 507px;
		padding: 42px 0;
	}
}

.carousel__wrapper {
	display: flex;
	justify-content: center;
	overflow: hidden;
	@include media-mobile {
		width: 97%;
		order: -1;
		padding-bottom: 18px;
	}
}

.carousel__list {
	display: inline-flex;
	list-style-type: none;
	justify-content: center;
	position: relative;
	width: 100%;
	padding: 0;
	font-size: 0;
	margin-left: 0%;
	@media (max-width: 1190px) {
		gap: 180px;
	}
	.carousel__item {
		display: flex;
	}
}

.card {
	display: block;
}

.carousel__prev,
.carousel__next {
	display: flex;
	align-items: center;
	border: 2px solid $color-primary;
	border-radius: 100px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 22px 18px;
	cursor: pointer;
	user-select: none;
	@extend %transition;
	@media (min-width: 769px) {
		&:hover {
			background-color: $color-primary-light;
			border: 2px solid $color-primary-light;
		}
	}
	@include media-mobile {
		margin-left: 39px;
		margin-right: 39px;
	}
}

.carousel__prev-ico {
	max-width: 14px;
}

#item-left,
#item-active,
#item-right {
	@media (max-width: 1190px) {
		div:first-child {
			display: none;
		}
	}
	@media (max-width: 767px) {
		div:last-child {
			display: none;
		}
	}
}

@keyframes move-right-3card {
	from {left: 0%;}
	to {left: -1080px;}
}
@keyframes move-right-2card {
	from {left: 0%;}
	to {left: -800px;}
}
@keyframes move-right-1card {
	from {left: 0%;}
	to {left: -490px;}
}

@keyframes move-left-3card {
	from {left: 0%;}
	to {left: 1080px;}
}
@keyframes move-left-2card {
	from {left: 0%;}
	to {left: 800px;}
}
@keyframes move-left-1card {
	from {left: 0%;}
	to {left: 490px;}
}

.transition-right {
	animation-name: move-right-3card;
	animation-duration: 1s;
	@media (max-width: 1190px) {
		animation-name: move-right-2card;
		animation-duration: 1s;
	}
	@media (max-width: 767px) {
		animation-name: move-right-1card;
		animation-duration: 1s;
	}
}

.transition-left {
	animation-name: move-left-3card;
	animation-duration: 1s;
	@media (max-width: 1190px) {
		animation-name: move-left-2card;
		animation-duration: 1s;
	}
	@media (max-width: 767px) {
		animation-name: move-left-1card;
		animation-duration: 1s;
	}
}
