.cards {
	display: block;
	text-align: center;
	background-color: $color-light-s;
	width: 270px;
	height: 435px;
	margin: 0 45px;
	border-radius: 9px;
	user-select: none;
	cursor: pointer;
	@extend %transition;
	&:hover {
		transform: scale(1.02);
		@extend %transition;
	}
	&:hover > button {
		background: $color-primary-light;
		border: 2px solid $color-primary-light;
		@extend %transition;
	}
	&.pets {
		margin: 0;
	}
}

.pets-card-title {
	@include font ($family: 'Georgia', $size: 2rem, $height: 115%, $letter: 0.06em);
	color: $color-dark-l;
	padding: 29px 0;
}