.cards {
	display: block;
	text-align: center;
	background-color: $color-light-s;
	width: 270px;
	height: 435px;
	border-radius: 9px;
	user-select: none;
	cursor: pointer;
	&.pets {
		margin-bottom: 30px;
	
	}
	&:hover > button {
		background: $color-primary-light;
		border: 2px solid $color-primary-light;
		@extend %transition;
	}
}

.pets-card-title {
	padding: 29px 0;
}