.carousel {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 435px;
	padding: 60px 0;
	@include media-mobile {
		flex-wrap: wrap;
		justify-content: center;
		height: 507px;
		padding: 42px 0;
	}
}

.carousel__content {
	display: block;
	overflow: hidden;
	@include media-mobile {
		width: 97%;
		order: -1;
		padding-bottom: 18px;
	}
}

.carousel__list {
	display: inline-flex;
	list-style-type: none;
	justify-content: space-around;
	gap: 90px;
	width: 100%;
	padding: 0;
	font-size: 0;
	margin-left: 900px;
	@media (max-width: 1200px) {
		gap: 50px;
		margin-left: 802px;
	}
	@media (max-width: 1110px) {
		gap: 30px;
		margin-left: 750px;
	}
	@media (max-width: 1060px) {
		gap: 120px;
		margin-left: 1170px;
	}
	@media (max-width: 860px) {
		gap: 60px;
		margin-left: 990px;
	}
	@media (max-width: 790px) {
		gap: 40px;
		margin-left: 930px;
	}
	@media (max-width: 760px) {
		gap: 20px;
		margin-left: 870px;
	}
	@media (max-width: 740px) {
		gap: 12px;
		margin-left: 845px;
	}
	@media (max-width: 725px) {
		gap: 250px;
		margin-left: 1820px;
	}
}

.card {
	display: block;
}

.carousel__prev,
.carousel__next {
	display: flex;
	align-items: center;
	border: 2px solid $color-primary;
	border-radius: 100px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 22px 18px;
	cursor: pointer;
	user-select: none;
	@extend %transition;
	&:hover {
		background-color: $color-primary-light;
		border: 2px solid $color-primary-light;
	}
	@include media-mobile {
		margin-left: 39px;
		margin-right: 39px;
	}
}



