.carousel {
	display: flex;
	width: 100%;
	height: 435px;
	padding: 60px 0;
	overflow: hidden;
}

.carousel__content {
	display: block;
	overflow: hidden;
}

.carousel__list {
	display: block;
	list-style-type: none;
	width: 9999px;
	padding: 0 7px;
	font-size: 0;
	margin-left: 0;
	overflow: hidden;
	li {
		display: inline-block;
		padding: 0 45px;
		@include media-tablet {
			padding: 0 40px 0 0;
		}
	}
	@include media-tablet {
		padding: 0 10px;
	}
}

.card {
	display: block;
}

.carousel__prev,
.carousel__next {
	display: flex;
	align-items: center;
	border: 2px solid $color-primary;
	border-radius: 100px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 22px 18px;
	cursor: pointer;
	user-select: none;
	@extend %transition;
	&:hover {
		background-color: $color-primary-light;
		border: 2px solid $color-primary-light;
	}
}



