.logo__title {
	@include font($family: 'Georgia', $size: 3.2rem, $height: 110%, $letter: 0.06em);
	color: $color-primary;
	padding: 7px 0;
	&.pets {
		color: $color-dark-l;
	}
}

.logo__subtitle {
	@include font($size: 1.3rem, $height: 150%, $letter: 0.1em);
	color: $color-light;
	padding-left: 4px;
	&.pets {
		color: $color-dark-3xl;
	}
}
.logo {
	user-select: none;
	cursor: pointer;
	text-decoration: none;
}