.footer {
	background: url('../../assets/image/background/footer-background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 40px 40px 0;
}

.footer__address {
	padding-left: 15px;
}

.footer__contacts > h2,
.footer__address > h2 {
	color: $color-light;
}

.footer__contacts,
.footer__address {
	padding-top: 16px;
}


address{
	display: flex;
	align-items: center;
}

address > a {
	@include font($family: 'Georgia', $size: 2rem, $height: 115%, $letter: 0.06em);
	text-decoration: none;
	color: $color-primary;
	padding: 0 20px;
}

.mail__ico {
	min-width: 0;
	height: 26px;
	width: 40px;
}

.phone__ico {
	min-width: 0;
	height: 32px;
	width: 40px;
}

.geo__ico {
	min-width: 0;
	height: 32px;
	width: 22px;
}

.footer__mail {
	padding: 43px 0;
}

.footer__geo {
	padding: 33px 0;
}
