.footer {
	background: url('../../assets/image/background/footer-gradient-background.png'),
	radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
	background-size: cover;
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 40px 40px 0;
	@include media-tablet {
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 15px 47px 0;
	}
}

.footer__address {
	padding-right: 6px;
	@include media-tablet {
		padding-right: 0;
	}
}

.footer__contacts > h2,
.footer__address > h2 {
	color: $color-light;
}

.footer__contacts,
.footer__address {
	padding-top: 16px;
	@include media-tablet {
		width: 45%;
	}
}

address > a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

address > a > img {
	padding-right: 20px;
}

address > a > p {
	@include font($family: 'Georgia', $size: 2rem, $height: 115%, $letter: 0.06em);
	color: $color-primary;
}

.mail__ico {
	min-width: 0;
	height: 26px;
	width: 40px;
}

.phone__ico {
	min-width: 0;
	height: 32px;
	width: 40px;
}

.geo__ico {
	min-width: 0;
	height: 32px;
	width: 22px;
}

.footer__mail {
	padding: 42px 0;
}

.footer__geo {
	padding: 32px 0;
}

.footer__wrapper > div > img {
	@include media-tablet {
		padding-top: 65px;
	}	
}