.header {
	background: url('../../assets/image/background/start-screen-gradient-background.png'),
	radial-gradient(100% 215.42% at 0% 0%, #5B483A 100%, #262425 100%), #211F20;;
  background-size: cover;
	&.pets {
		background: $color-light
	}
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 40px 86px;
	&.pets {
		padding: 24px 40px 26px;
	}
}




